@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,900&family=Ubuntu:ital,wght@0,300;1,700&display=swap');

:root {
    --primary-clr: #F2E635;
    --second-clr: #F2F2F2;
    --third-clr: #A69D1F;
    --four-clr: #A68F1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}